
@{
    ViewBag.Title = "User_Login_or_reg_page";
}
<h1><p>@Html.ActionLink("Login Socity Admin", "login", "Home")</p></h1>
<h1><p>@Html.ActionLink("Login Workers Admin", "WorkerAdminLogin")</p></h1>
<h1><p>@Html.ActionLink("Complainer Registration", "General_User_reg")</p></h1>
<h1><p>@Html.ActionLink("Complainer Login", "ComplainerLogin")</p></h1>
